body
  width: 100%
  height: 100%

  .header
    text-align: center

  .content
    .table
      thead, tbody
        th, td
          text-align: center
          vertical-align: middle

      tfoot
        td
          text-align: left
      .task-content
        td
          text-align: left

.clear
  clear: both
textarea
  resize: none